<div class="section">
    <h3 class="mHead mHeadTwoLine">Advanced search</h3>
</div>
<div class="sectionInner">
    <h4 class="sHead">Phone name</h4>
    <ul class="lNav list-unstyled">
        <li><a href="">Nokia 225</a></li>
        <li><a href="">Nokia 110</a></li>
        <li><a href="">Samsung B313E</a></li>
        <li><a href="">Samsung Yucca B360</a></li>
        <li><a href="">Samsung Galaxy J5</a></li>
        <li><a href="">Lumia 850</a></li>
        <li><a href="">LG G5</a></li>
        <li><a href="">Samsung Galaxy A5 2016</a></li>
        <li><a href="">Nokia C1</a></li>
        <li><a href="">LG G2</a></li>
    </ul>
</div>
<div class="sectionInner">
    <h4 class="sHead">Producer</h4>
    <ul class="lNav list-unstyled">
        <li><a href="">Nokia</a></li>
        <li><a href="">Samsung</a></li>
        <li><a href="">LG</a></li>
    </ul>
</div>
<div class="sectionInner">
    <h4 class="sHead">Price</h4>
    <ul class="lNav list-unstyled">
        <li><a href="">$22.28 - $89.13</a></li>
        <li><a href="">$89.13 - $222.81</a></li>
        <li><a href="">$222.81 - $668.44 </a></li>
        <li><a href="">Over $668.44</a></li>
    </ul>
</div>
<div class="advertising">
    <ul class="list-unstyled">
        <li>
            <img src="public/images/8-3-dt.gif">
        </li>
    </ul>
</div>