<div>
    <button class="btn btn-success">Create new PHONE</button>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Producer</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>IPHONE SE 15GB</td>
                <td>{{ 123456 | currency }}</td>
                <td>Producer</td>
                <td>
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                    <!--<img src="/public/images/eye.png" alt="eye open" />
                    <img src="/public/images/pencil.png" alt="pencil" />
                    <img src="/public/images/trash.png" alt="trash" />-->
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>IPHONE SE 15GB</td>
                <td>{{ 123456 | currency }}</td>
                <td>Producer</td>
            </tr>
            <tr>
                <td>1</td>
                <td>IPHONE SE 15GB</td>
                <td>{{ 123456 | currency }}</td>
                <td>Producer</td>
            </tr>
        </tbody>
    </table>
</div>