body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;   
}

.clearfix {
    
}

.list-control {
    width: 100%;
}
.list-unstyled {
    list-style-type: none;
    padding: 0;
}

.list-inline > li {
    float: left;
}

.phone {
    width: 32.44444444%;
    border: 1px solid black;
    padding: 5px;
    margin: 0 5px 5px;
}

.phone .header {
    height: 180px;
}

.phone img,
.phone .content,
.phone .info,
.phone .action {
    float: left;
    width: 50%;
}

.phone .content {
    padding: 0 5px;
}

.phone .action {
    text-align: right;
    padding: 10px 10px 0;
}

.btn-primary-outline {
    background-color: transparent;
    border: 1px solid #2ba29d;
    color: #2ba29d;
}
.btn-primary-outline:hover {
    background-color: #2ba29d;
    color: #fff;
}
.nav-right{
    float: right;
}
.navbar{
    border-radius: 0;
}
.footer{
    border: 1px solid #1c1c1c;
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    margin-top: 15px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}