<!--<div class="phone-details">
    <img src="#" alt="Phone Image" />
    <p>Price</p>
    <p>Total view</p>
    <p>Quatity sell</p>
    <p>Description</p>
    <p>Made</p>
    <p>Manufacturers</p>
</div>
<div class="phone-related">
    <phone id="phone-lasted" class="clearfix" phones="test"></phone>
</div>-->
<!-- =========================================================================== -->
<div class="logo-name-shop">
    <div class="logo">
        <a href="">
            <img src="D:\web2\UI\img\logo.png" width="80" height="40">
        </a>
    </div>
    <div class="name-shop">
        <span>Products sold from:</span>
        <a href="">2NPT</a>
        <div>
            <span>Reputation points:</span>
            <strong>4</strong>
        </div>
    </div>
    <div class="shopinfo-in-detail"></div>
</div>
<!-- ========================================= image of products(detail) -->
<div class="shop-detail">
    <div class="bog-img" style="height: 350px; width: 350px;">
        <img src="" id="img-zoom" width="350" height="350" style="position: absolute;">
    </div>
</div>
<!-- ================================================end=============================================== -->
<!-- ========================================== info product details===================================== -->
<div class="info-phone">
    <div class="name-phone">
        <h2 href="">Samsung BCX</h2>
    </div>
    <div class="box-late">
        <img src="D:\web2\UI\img\eye.png">
    </div>
    <div class="price">
        <p>Price</p>
    </div>
    <div class="quatity">
        <p>Quatity </p>
        <input type="number" name="qty" min="1" max="99" class="inpt-qty" required value="1">
    </div>
    <div class="description">
        <p>Description</p>
        <p id="description">
            Smart phones, super durable, sharp image,the color of luxury, surf the web faster, high battery.
            </br>Waterproof phone quality, is of exclusive products of the <a href="">2NPT</a>
        </p>
    </div>
    <div class="made">
        <p>Made</p>
    </div>
    <div class="manufactures">
        <p>Manufacturers</p>
    </div>
    <div class="btn-phone-detail">
        <button>Buy</button>
        <button ng-click="payment()">Payment</button>
    </div>
</div>
<!-- ========================================end================================================== -->
<!-- ====================================Same products=========================================== -->
<div class="block-relate-items" style="">
    <div class="tl">
        <span>Same products</span>
    </div>
    <div class="box-items-wrap">
        <phone id="phone-lasted" class="clearfix" phones="phones"></phone>
    </div>
</div>
<!-- ===============================End========================================================= -->